/**
 * Header
 */

@media screen {

  /**
   * Layout
   */
  #header {
    background-color: hsla(20, 10%, 18%, 0.98);
    padding: 0.5em 1em;
    color: hsl(0, 0%, 100%);
  }

  @media (min-width: 30em) {

    #header {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    .header__landmark {
      display: flex;
      align-items: center;
    }
  }

  .header__logo {
    margin-right: auto;
  }

  .header__logo .icon {
    margin-top: 0;
    height: 4rem;
    width: 6rem;
  }

  /**
   * Main navigation
   */
  #main-nav {
    margin-top: 0;
  }

  .nav {
    display: flex;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    padding: 0;
  }

  .nav__item + .nav__item {
    margin-left: 1em;
  }

  .nav__item a {
    text-decoration: none;
  }

  .nav__item a:hover,
  .nav__item a:active {
    text-decoration: underline;
  }
}
