/**
 * Header
 */

@media screen {
  #header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0.5em 1em;
    color: hsl(0, 0%, 100%);
    background-color: hsl(20, 10%, 18%);
  }

  .header__landmark {
    display: flex;
    align-items: center;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__logo .icon {
    width: 6rem;
    height: 4rem;
    margin-top: 0;
  }
}
