/**
 * Layout
 */

@media screen {

  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows:
      [main-start] auto
      [content-start] 1fr
      [footer-start] auto
      [main-end];
    background: url("/images/malmo-live-night.jpg") no-repeat fixed 50% 50%;
    background-size: cover;
  }

  /**
   * Content block
   */
  .content-block {
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
  }

  /**
   * Landmark content
   */
  .landmark-content {
    margin: 0 auto;
    max-width: 40rem;
  }

  /**
   * Footer
   */
  #footer {
    margin-top: auto;
  }
}
