/**
 * Layout
 */

@media screen {

  body {
    min-height: 110vh;
    display: grid;
    grid-template-rows:
      [main-start] auto
      [content-start] 1fr
      [footer-start] auto
      [main-end];
    background: url("/images/malmo-live.jpg") no-repeat fixed 50% 50%;
    background-size: cover;
  }

  /**
   * Landmark content
   */
  .landmark-content {
    margin: 0 auto;
    max-width: 40rem;
  }

  /**
   * Footer
   */
  #footer {
    margin-top: auto;
  }
}
