/**
 * main.css
 *
 * Overall styling
 */

@media screen {

  /**
   * Header layout
   */
  #header {
    background-color: hsla(0, 0%, 0%, 0.7);
    color: hsl(0, 0%, 100%);
    padding: 1rem;
  }

  @supports (position: -webkit-sticky) or (position: sticky) {

    #header {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
  }

  /**
   * Logo
   */
  .logo {
    margin-top: 0;
  }

  .logo .icon {
    display: block;
    --size: 7em;
    height: var(--size);
    width: var(--size);
  }

  /**
   * Main navigation
   */
  #main-nav {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #main-nav li {
    display: inline-block;
    flex: 0 0 auto;
  }

  #main-nav li + li {
    margin-top: 0;
  }

  #main-nav li a {
    display: block;
    padding: 0.25em 0 0.25em 1em;
    text-decoration: none;
  }

  /**
   * CTA (Call to action)
   */
  .cta {
    display: inline-block;
    background-color: hsl(29, 91%, 57%);
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    padding: 0.4em 0.8em;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
  }

  /**
   * Skip links
   */
  #skip {
    left: -9999px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  #skip a:focus,
  #skip a:active {
    background: hsl(0, 0%, 27%);
    color: hsl(0, 0%, 100%);
    display: block;
    font-weight: bold;
    left: 9999px;
    line-height: 1.0;
    padding: 0.5em 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

  /**
   * Footer
   */
  #footer {
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 100%);
    padding-bottom: 2em;
  }
}
