/**
 * Main navigation
 */
@media screen {
  #main-nav {
    margin-top: 0;
  }

  .js #main-nav {
    --nav-width: 12em;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--nav-width);
    padding: 1em;
    background-color: hsla(20, 10%, 18%, 1);
    transition: right 200ms ease-in-out, filter 200ms ease-in-out;
  }

  .js #main-nav[aria-expanded="true"] {
    filter: drop-shadow(0 0 0.5em hsla(0, 0%, 0%, 0.5));
  }

  .js #main-nav[aria-expanded="false"] {
    right: calc(var(--nav-width) * -1);
  }

  /* Main navigation trigger */
  #main-nav-trigger {
    display: none;
  }

  .js #main-nav-trigger {
    --width: 5.2em;
    position: absolute;
    top: 1em;
    left: calc((var(--width) - 0.2em) * -1);
    display: flex;
    align-items: center;
    padding: 0.5em 1em 0.5em 0.5em;
    margin-top: 0;
    font-size: 1.12em;
    color: inherit;

    background: hsl(20, 10%, 18%);
    border: 0;
  }

  #main-nav-trigger .icon {
    margin-inline-end: 0.25em;
  }

  #main-nav-trigger span {
    margin-top: 0;
  }

  /* Navigation list */
  .nav {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
  }

  .nav__item a {
    display: block;
    padding: 0.25em 0;
    text-decoration: none;
  }

  .nav__item a:hover,
  .nav__item a:active {
    text-decoration: underline;
  }

  @media (min-width: 40em) {
    .js #main-nav {
      --nav-width: unset;

      position: static;
    }

    .js #main-nav[aria-expanded] {
      filter: none;
    }

    .js #main-nav-trigger {
      display: none;
    }

    .nav {
      flex-direction: row;
    }

    .nav__item a {
      padding: 0;
    }

    .nav__item + .nav__item {
      margin-left: 1em;
    }
  }
}
