/**
 * Table of contents
 */

@media screen {

  /**
   * Table of contents
   */
  .toc {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    text-transform: uppercase;
  }

  .toc__item + .toc__item {
    margin-left: 1em;
  }

  .toc__item a {
    text-decoration: none;
  }

  .toc__item a:hover,
  .toc__item a:active {
    text-decoration: underline;
  }
}
