---
layout: default
---

<div class="content-block theme-1">
  <div class="landmark-content">
    <div class="figure-text">
      <figure>
        <img src="/images/logo_new.svg" alt="">
        <img src="/images/malmo-live-night.jpg" alt="">
      </figure>
      <article>
        {% capture content %}{% include_relative _content/about.md %}{% endcapture %}
        {{ content | markdownify }}
      </article>
    </div>
  </div>
</div>

<div class="content-block theme-3" id="schedule">
  <div class="landmark-content">
    <h2>Schedule</h2>
    {% include schedule.html %}
  </div>
</div>

<div class="content-block theme-1">
  <div class="landmark-content">
    {% capture content %}{% include_relative _content/coc.md %}{% endcapture %}
    {{ content | markdownify }}
  </div>
</div>
