---
layout: noheader
title: Speakers
---

<div class="content-block theme-3" id="speakers">
  <div class="landmark-content">
    <h1>
      Speakers
    </h1>
    <ul class="speakers">
      {% for item in site.data.schedule %}
      {% if item.bio %}
      <li class="speakers__item">
        <div class="speakers__container">
          <h3 id="{{ item.name | slugify }}">{{ item.name }}</h3>
          <img src="{{ item.image }}" alt="">
          <p>{{ item.bio | markdownify }}</p>
        </div>
      </li>
      {% endif %}
      {% endfor %}
  </ul>
  </div>
</div>

{% capture content %}{% include scrollToTop.html %}{% endcapture %}
{{ content }}