---
layout: noheader
---

<div class="content-block theme-3" id="videos">
  <div class="landmark-content">
    <h1>
      Videos
    </h1>

    <ul class="article-toc">
    {% for video in site.data.videos %}
      <li><a href="#y{{video.year}}">{{video.year}}</a></li>
    {% endfor %}
    </ul>

    {% for video in site.data.videos %}
      <h2 id="y{{video.year}}">{{ video.year }}</h2>
      {% for speaker in video.speakers %}
        <h3>{{ speaker.title }}</h3>
        <p>{{ speaker.description }}</p>
        <div class="embed-container">
          <iframe src="https://www.youtube.com/embed/{{ speaker.videoId }}" frameborder="0" allowfullscreen></iframe>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% capture content %}{% include scrollToTop.html %}{% endcapture %}
{{ content }}
