<header id="header">

  <div class="header__landmark">

    <div class="landmark-content header__nav">
      <div class="header__logo">
        <a href="/">
          <h1 class="at-only">{{ site.title }}</h1>
          {% include svg.html icon="logo" %}
        </a>
      </div>

      <ul class="toc">
        <li class="toc__item"><a href="/2020">2020</a></li>
        <li class="toc__item"><a href="/2019">2019</a></li>
        <li class="toc__item"><a href="/2018">2018</a></li>
        <li class="toc__item"><a href="/#contact">Contact</a></li>
      </ul>
    </div>

  </div>
  {% if include.hideHero != "true" %}
  <div class="landmark-content">
    {% include hero.html %}
  </div>
  {% endif %}


</header>
