<ul class="schedule">
  {% for item in site.data.schedule %}
  <li class="schedule__item">
    <div class="schedule__item-timeslot">
      <span>{{ item.timeslot }}</span>
    </div>
    <div class="schedule__item-content">
      <h3>
        {% if item.name %}<span class="heading-name">{{ item.name }}</span>{% endif %}
        {% if item.title %}<span class="heading-title">{{ item.title }}</span>{% endif %}
      </h3>
      {% if item.description %}
      <div class="schedule__item-description">
        {{ item.description | markdownify }}
      </div>
      {% endif %}
    </div>
    <div class="schedule__item-image">
      <img src="{{ item.image }}" alt="">
    </div>
  </li>
  {% endfor %}
</ul>
