/**
 * basic.css
 *
 * @author Fredrik Frodlund
 */

@media all {
  * {
    padding: 0;
    margin: 0;
  }

  /**
   * The Lobotomized Owl
   * (http://bit.ly/1nyU8g4)
   */
  * + * {
    margin-top: 1.5em;
  }

  /* margin resets */
  li {
    margin-top: 0;
  }

  /**
   * Reset body & html spacing
   */
  body,
  html {
    padding: 0;
    margin: 0;
  }

  /**
   * Reset box sizing
   */
  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  /**
   * Body styling
   */
  html,
  body {
    color: var(--text-color);
    background-color: var(--bg-color);
  }

  /**
   * TODO: We’ll test disabling smooth scrolling for a known Sveltekit bug (https://github.com/sveltejs/kit/issues/2733)
   */
  /*
  html {
    scroll-behavior: smooth;
  }
  */

  /**
   * Fonts & sizes
   * Base size set to 16px
   */
  html {
    /* Yoink! Thank you, GitHub! 👍 */
    font-family:
      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 100%;
    line-height: 1.5;
    text-size-adjust: 100%;
  }

  body {
    font-size: 1.2em;
  }

  code,
  kbd,
  pre {
    font-family: Menlo, Courier, "Courier New", monospace;
  }

  /**
   * Headings
   */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2em 0 1em;
    font-weight: 700;
    line-height: 1.125;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child,
  h1 + *,
  h2 + *,
  h3 + *,
  h4 + *,
  h5 + *,
  h6 + * {
    margin-top: 0;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.55em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.1em;
  }

  h5,
  h6 {
    font-size: 1em;
  }

  /**
   * Paragraphs
   */
  p + p {
    margin-top: 0.75em;
  }

  /**
   * Lists
   */
  ul,
  ol {
    margin-left: 2em;
  }

  ul[class],
  ol[class] {
    margin-left: 0;
    list-style: none;
  }

  /**
   *Links
   */
  a,
  a:visited {
    color: inherit;
  }

  a:hover,
  a:focus,
  a:active {
    color: inherit;
  }

  /**
   * Emphasis
   */
  b,
  strong {
    font-weight: bold;
  }

  i,
  em {
    font-style: italic;
  }

  /**
   * Images
   */
  img {
    max-width: 100%;
    height: auto;
  }

  /**
   * Other 
   */
  hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: currentColor;
    opacity: 0.7;
    margin-block: 3em 1em;
  }

  /**
   * Hidden elements (both visually and for AT:s)
   */
  [hidden] {
    display: none;
  }

  /**
   * Visually hidden (still visible to AT:s)
   */
  .at-only {
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  /**
   * Target offset
   */
  * {
    scroll-margin-block-start: 6.2em;
  }

  @media (min-width: 30em) {
    * {
      scroll-margin-block-start: 5.2em;
    }
  }
}
