/**
 * general.css
 *
 * Overall styling
 */

@media screen {
  /**
   * Skip links
   */
  #skip {
    position: absolute;
    top: 0;
    left: -9999px;
    z-index: 100;
    width: 100%;
  }

  #skip a:focus,
  #skip a:active {
    position: absolute;
    top: 0;
    left: 9999px;
    display: block;
    width: 100%;
    padding: 0.5em 0;
    font-weight: bold;
    line-height: 1;
    color: hsl(0, 0%, 100%);
    text-align: center;
    background: hsl(0, 0%, 27%);
  }

  /**
   * Article
   */
  article {
    padding: 4em 1em 6em;
  }

  /**
   * Article ToC (Table of Contents)
   */
  .article-toc {
    display: flex;
    position: sticky;
    top: 5.65rem;
    z-index: 1;
    background-color: hsl(32, 100%, 87%);
    padding-block: 0.5em;
  }

  .article-toc a {
    display: inline-block;
    text-decoration: none;
    background-color: var(--secondary-brand-color);
    color: white;
    padding: 0 0.9em;
    border-radius: 50em;
  }

  .article-toc a:hover,
  .article-toc a:focus,
  .article-toc a:active {
    background-color: hsl(20, 10%, 27%);
  }

  .article-toc li + li {
    margin-left: 0.5em;
  }
}
