@media screen {
  /**
   * Images
   */
  img {
    max-width: 100%;
    height: auto;
    border: 0;
  }

  /* Images with captions */
  figure.image {
    display: grid;
    justify-content: center;
    margin: 2em 0;
  }

  figure.image img {
    display: block;
  }

  figure.image figcaption {
    padding: 0.5em 0;
    margin: 0;
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
  }

  figure.left figcaption,
  figure.right figcaption {
    text-align: left;
  }

  @media (min-width: 24em) {
    img.left,
    figure.image.left,
    img.right,
    figure.image.right {
      max-width: 40vw;
    }

    img.left,
    figure.image.left {
      float: left;
      margin: 0 1em 0.5em 0;
    }

    img.right,
    figure.image.right {
      float: right;
      margin: 0 0 0.5em 1em;
    }
  }
}
