/**
 * Layout
 */

@media screen {
  /**
   * Landmark content
   */
  .landmark-content {
    max-width: 52rem;
    margin: 0 auto;
  }

  /* Safe areas */
  @media (orientation: landscape) {
    .landmark-content {
      padding-right: env(safe-area-inset-right);
      padding-left: env(safe-area-inset-left);
    }
  }

  /**
   * Main
   */
  main {
    margin-top: 0;
  }

  /**
   * Footer
   */
  #footer {
    margin-top: auto;
  }
}
