/**
 * Header
 */

@media screen {

  /**
   * Layout
   */
  #header {
    background-color: hsla(0, 0%, 0%, 0.8);
    color: hsl(0, 0%, 100%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .header__landmark {
    background-color: hsla(20, 10%, 18%, 0.9);
    padding: 0.5rem;
  }

  .header__nav {
    display: flex;
    align-items: center;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__logo .icon {
    margin-top: 0;
    height: 4rem;
    width: 6rem;
  }

  /**
   * Table of contents
   */
  #main-nav {
    margin-top: 0;
  }

  .toc {
    display: flex;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    padding: 0;
  }

  .toc__item + .toc__item {
    margin-left: 1em;
  }

  .toc__item a {
    text-decoration: none;
  }

  .toc__item a:hover,
  .toc__item a:active {
    text-decoration: underline;
  }
}
