/**
 * main.css
 *
 * Overall styling
 */

@media screen {

  /**
   * Content block
   */
  .content-block {
    background-color: hsl(0, 0%, 100%);
    padding: 4em 1em;
  }

  .content-block + .content-block {
    margin-top: 0;
  }

  /* Themes */
  .content-block.theme-1 {
    background-color: hsl(20, 10%, 18%);
    color: hsl(25, 83%, 56%);
  }

  .content-block.theme-2 {
    background-color: hsl(153, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.8);
  }

  .content-block.theme-3 {
    background-color: hsl(30, 79%, 65%);
    color: hsl(20, 10%, 18%);
  }

  /* Content block heading */
  .content-block h2 {
    font-size: 2em;
  }

  /**
   * CTA (Call to action)
   */
  a.cta {
    display: inline-block;
    background-color: hsl(25, 83%, 56%);
    color: hsl(20, 10%, 18%);
    text-decoration: none;
    padding: 1em 3em;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: none;
    border-radius: 50em;
    transition: transform 500ms;
  }

  a.cta:hover,
  a.cta:focus {
    transform: scale(1.1);
  }

  /**
   * Skip links
   */
  #skip {
    left: -9999px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  #skip a:focus,
  #skip a:active {
    background: hsl(0, 0%, 27%);
    color: hsl(0, 0%, 100%);
    display: block;
    font-weight: bold;
    left: 9999px;
    line-height: 1;
    padding: 0.5em 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

  /**
   * Article ToC (Table of Contents)
   */
  .article-toc {
    display: flex;
  }

  .article-toc li + li {
    margin-left: 0.5em;
  }

  .article-toc li + li::before {
    content: "|";
    margin-right: 0.5em;
  }

  /**
   * Embed container
   */
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 32em) {
  /**
   * Figure + text
   */
  .figure-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2em;
  }

  .figure-text > * {
    margin-top: 0;
  }
}
