---
name: Test

on: [pull_request]

jobs:
  test:
    name: Build & run

    runs-on: ubuntu-latest

    steps:
      - name: Checkout files
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.26.0

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - name: Install Node packages
        run: pnpm install --frozen-lockfile --ignore-scripts

      - name: Set environment
        run: cp .env.example .env

      - name: Build
        run: pnpm build

      - name: Svelte check
        run: pnpm check
